---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

import Layout from "../layouts/Layout.astro"
---

<Layout title="Acerca de -  desarrollo IECA">
  <Header />
  <section class="min-h-screen px-4 sm:px-6 lg:px-8">
    <header class="max-w-4xl mx-auto text-center py-40 flex flex-col items-center">
        <h1 class="text-5xl font-medium max-w-[680px] text-[#e4e2e5]">Descrubre todo <br>acerca de la Media Técnica</h1>
        <p class="max-w-[620px] text-[20px] font-light mt-4 text-[#738088]">Conoce la Media Técnica en desarrollo de software, desde sus módulos hasta la información esencial.</p>
        <a href="" class="bg-[var(--text-light)] text-[var(--text-dark)] text-lg py-2 px-4 rounded-3xl hover:shadow-[0_0_12px_4px_#fff3] mt-8">Ver ahora</a>
    </header>
  </section>
  <section>
    
  </section>
  <Footer />
</Layout>