---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - Desarrollo IECA">
    <Header />
    <div class="bg-black grid justify-items-center">
        <div class="bg-red min-w-screen relative">
            <section class="relative min-h-screen">
                <h1
                    class="font-poppins font-medium text-gray-light text-[250px] text-center tracking-extra-wide leading-normal whitespace-nowrap tracking-widest"
                >
                    BLOG
                </h1>

                <img
                    class="absolute top-[200px] left-[675px]"
                    alt="Image"
                    src="/slider-2.png"
                />
            </section>

            <section class="bg-transparent flex">
                <img
                    class="object-cover"
                    alt="Image"
                    src="/slider-3.png"
                />

                <div
                    class="font-poppins font-light text-[var(--text-blue-light)] text-base tracking-wide leading-[15.4px]"
                >
                    Conoce todo acerca de la Media Técnica y enterate de las
                    noticias día a día.
                </div>

                <button class="cursor-pointer"> BOTÓN </button>
            </section>

            <main>
                <div class="font-poppins font-normal text-white text-xl">
                    <span class="text-[var(--text-grey-light)] text-lg sm:text-xl lg:text-2xl text-center align-middle mr-4 sm:mr-8 lg:mr-12">/ 01</span>
                    <h2
                        class="font-poppins font-bold text-white text-[64px]"
                    >
                        PRESENTACIÓN DE DOCENTES
                    </h2>

                    <p>El día 20 de febrero se le presentó los docentes por parte del pascual bravo que acompañaran a los estudiantes por el resto del año...</p>

                    <img src="/image-14.png" alt="">
                </div>

                <div class="font-poppins font-normal text-white text-xl">
                    <span class="text-[var(--text-grey-light)] text-lg sm:text-xl lg:text-2xl text-center align-middle mr-4 sm:mr-8 lg:mr-12">/ 02</span>
                    <h2
                        class="font-poppins font-bold text-white text-[64px]"
                    >
                        CONVOCATORIA A ESTUDIANTES
                    </h2>

                    <p>El día 23 de octubre se le presentó a los estudiantes del grado noveno lo que es la Media Técnica y como pueden ingresar a ella...</p>

                    <img src="/image-14.png" alt="">
                </div>

            </main>
        </div>
    </div>
    <Footer />
</Layout>
