<footer class="bg-black text-white py-8">
  <div class="max-w-7xl mx-auto px-4">
    <!-- Fila superior -->
    <div class="flex flex-wrap justify-between text-xs uppercase tracking-wider mb-6">
      <!-- Izquierda -->
      <div class="text-[var(--text-blue-light)] light italic">
        <p>Todos los derechos reservados.</p>
        <a href="#" class="hover:underline text-white font-light italic">Términos y condiciones</a>
      </div>
      <!-- Centro -->
      <div class="text-center text-white">
        <p class="text-[var(--text-blue-light)] light italic">Contacto</p>
        <p class="mt-1 text-[10px] leading-tight font-light italic">Para información o para ingresar<br>acérquese a los docentes encargados</p>
      </div>
      <!-- Derecha -->
      <div class="text-[var(--text-blue-light)] italic text-right flex flex-col">
        <a href="#" class="hover:underline">Ciudadela / Pascual / Loxi</a>
        <a href="#" class="font-light italic text-white hover:underline">Política de privacidad</a>
      </div>
    </div>

    <div class="text-center mt-38">
      <p class="text-[14px] ml-12 uppercase font-light italic">© 2025 DESARROLLO</p>
      <h1 class="text-[200px] font-medium leading-none">DESARROLLO</h1>
    </div>

    <!-- Fila inferior -->
    <div class="flex flex-wrap justify-between items-center text-[var(--text-blue-light)] italic text-1xl">
      <p>Desarrollado por <a href="#" class="mr-15 hover:underline not-italic">lummoo</a></p>
      <a href="#" class="mr-15 hover:underline not-italic">Ver créditos</a>
      <a href="#" class="hover:underline not-italic">Regresar arriba</a>    
    </div>
  </div>
</footer>
