---
import '../styles/global.css'
---
<footer class="bg-black text-white py-8">
  <div class="max-w-7xl mx-auto px-4">
    <!-- Fila superior -->
    <div class="flex flex-wrap justify-between text-xs uppercase tracking-wider mb-6">
      <!-- Izquierda -->
      <div class="text-[var(--text-blue-light)] light italic">
        <p>Todos los derechos reservados.</p>
        <a href="#" class="hover:underline text-white light italic">Términos y condiciones</a>
      </div>
      <!-- Centro -->
      <div class="text-center text-white">
        <a href="#" class="text-[var(--text-blue-light)] light italic hover:underline">Contacto</a>
        <p class="mt-1 text-[10px] leading-tight">Para información o para ingresar<br>acérquese a los docentes encargados</p>
      </div>
      <!-- Derecha -->
      <div class="text-[var(--text-blue-light)] italic text-right flex flex-col">
        <a href="#" class="hover:underline">Ciudadela / Pascual / Loxi</a>
        <a href="#" class="light italic text-white">Política de privacidad</a>
      </div>
    </div>

    <!-- Texto grande central -->
    <div class="text-center my-">
      <p class="text-xs ml-12 uppercase">© 2025</p>
      <h1 class="text-[200px] font-medium leading-none">DESARROLLO</h1>
    </div>

    <!-- Fila inferior -->
    <div class="flex flex-wrap justify-between items-center text-[var(--text-blue-light)] italic text-1xl">
      <p>Basado en sitios de Dribbble.com</p>
      <a href="#" class="mr-12 hover:underline not-italic">Ver créditos</a>
      <a href="#" class="hover:underline not-italic">Regresar arriba</a>    
    </div>
  </div>
</footer>
