---
import { getCollection } from 'astro:content';

const projects = await getCollection('projects')
export const prerender = true
---

<header class="flex justify-between items-center p-4 mx-17 text-white font-Poppins">
    <nav class="flex">
        <ul class="list-none flex">
            <li><a href="" class="size-5 hover:underline">PROYECTOS</a>  /</li>
            <li class="mx-1"><a href="" class="size-5 hover:underline">ACERCA DE</a>  /</li>
            <li>  <a href="" class="size-5 hover:underline">MÓDULOS</a></li>
        </ul>
    </nav>
    <div>
        <p>PROYECTOS({projects.length})</p>
    </div>
</header>