---
import "../styles/global.css"
---

<header class="flex justify-between items-center p-4 mx-8 text-white font-Poppins">
    <nav class="flex ">
        <ul class="list-none flex">
            <li><a href="" class="size-5 underline">PROYECTOS</a>  /</li>
            <li class="mx-1"><a href="" class="size-5 underline">ACERCA DE</a>  /</li>
            <li>  <a href="" class="size-5 underline">MÓDULOS</a></li>
        </ul>
    </nav>
    <div>
        <p>PROYECTOS()</p>
    </div>
</header>